
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Azure-DevOps</title>
</head>
<body>
    <div> 
        <h1>Hello World..!!!</h1>

    </div>
</body>
</html>
